
body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    background-color:#dee2e6;

    font-family: 'Arial';
}

.header-profile{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.img-profile{
    background-color:#fff;
    border-radius:100%;
    border:2px solid #212529;
}

.title-profile{
    font-size:48px;
    color: #495057;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    max-width:800px;
}

.header-posts{

}

.sub-title-posts{
    font-size:32px;
    color: #212529;
    border-bottom:4px solid #495057;
    padding-bottom:8px;
}

.container-posts{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    width:100%;

    background-color:#495057;
    padding:10px;
    border-radius:20px;
    border:5px solid #212529;
}

.header-post{

}

.post-tittle,.paragrafo-post{
    color:#fff;
}

.post-tittle{
    font-size:24px;
    text-transform: uppercase;
}

.img-post{
    width:100%;
    border-radius:20px;
}

.paragrafo-post{
    text-align:center;
    font-size:20px;
}

.foooter-contatos{

}

.lista-contatos{
    list-style: square;
}

.link-item-contato{
    color: #212529;
    text-decoration:none;
}

.link-p{
    color: #dee2e6;
}


